body{
    background:#000000 url("abstract-flat-solid-colors-aesthetic-background-free-vector.jpg")  ;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}
h6{font-size:20px;color:#ff0000 }